DSC 530
Exercise 2.1
Kimberly Cable

Display the text "Hello World!"

In [1]:
print("Hello World!")

Hello World!

Add two numbers together

In [2]:
7 + 8

15

Subtract a number from another number

In [3]:
15 - 8

7

Multiply two numbers

In [4]:
8 * 7

56

Divide between two numbers

In [5]:
64 / 4

16.0

Concatenate two strings (any words)

In [6]:
"Hello" + " World"

'Hello World'

Create a list of 4 items (can be strings, numbers, both)

In [7]:
myList = ["list1", "list2", "list3", "list4"]
print(type(myList))
myList

<class 'list'>

['list1', 'list2', 'list3', 'list4']

Append an item to your list (again, can be a string, number)

In [8]:
myList.append("list5")
myList

['list1', 'list2', 'list3', 'list4', 'list5']

Create a tuple with 4 items (can be strings, numbers, both)

In [9]:
myTuple = ("tuple1", "tuple2", "tuple3", "tuple4")
print(type(myTuple))
myTuple

<class 'tuple'>

('tuple1', 'tuple2', 'tuple3', 'tuple4')